// Color Schemes
// ----Natural
$olive: #8D8741;
$sky-blue: #659DBD;
$earthy-peach: #DAAD86;
$dark-sand: #BC986A;
$tan: #FBEEC1;

// ----Clost to Nature
$olive-green: #687664;
$deep-water-blue: #3170BE;
$mid-blue: #5085A5;
$light-blue: #8FC1E3;
$off-white: #F7F9FB;