@use '../utilities/' as *;

// Grid Areas
nav {
    grid-area: navigation;
}

header {
    grid-area: head;
}

main {
    grid-area: main;
}

footer {
    grid-area: foot;
}

/*
The following css is for index.HTML.
Some of this might be global for all pages associated in this project.
*/

// Grid layouts
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 350px 1fr;
    grid-template-columns: minmax(280, 95vw);
    grid-template-areas: 
    "navigation"
    "head"
    "main"
    "foot";
}

main {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
}

// FlexBox layouts
.main-nav {
    display: flex;
    justify-content: space-evenly;
}

header, footer {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: space-around;
}

/*
The following css is for experience.HTML.
Some of this might be global for all pages associated in this project.
*/

// Grid areas
.art-title {
    grid-area: title;
}
// Gird layouts
.grid-body-experience {
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: minmax(280, 95vw);
    grid-template-areas:
        "navigation"
        "main"
        "foot";
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'title title'
    'card-experience1 card-experience2'
    'card-experience3 card-experience4';
}

// FlexBox layouts

