@use '../utilities/' as *;

* {
    box-sizing: border-box;
}

/*
The following css is for index.HTML.
Some of this might be global for all pages associated in this project.
*/

// Header Styling
header {
    background: url('../images/the_dam.jpeg') no-repeat top center;
    background-size: cover;
}

.header-text {
    min-width: 280px;
    max-width: 30%;
    margin: auto;
    text-align: center;
    background-color: $tan;
    opacity: 0.75;
    border: thick double $olive;
    border-radius: 15%;
}

main, footer {
    background-color: $tan;
}

.card-index{
    max-height: 250px;
    border: solid $dark-sand;
    background-color: $off-white;
    margin: 15px;
}

h2, p {
    text-align: center;
}

address, .social-media {
    text-align: center;
}

.social{
    margin: 10px;
}

/*
The following css is for experience.HTML.
Some of this might be global for all pages associated in this project.
*/

.art-title, 
.card-experience1, 
.card-experience2, 
.card-experience3, 
.card-experience4 {
    text-align: center;
}